doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Untitled
    link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='main.css')
  body
    #div1.div1
      p.six Hruska
      p.seven Boutique
      section.header1
        table.table1
          tr
            td.one Hruska
            td.four FN - EN
          tr
            td.one Studio
            td
          tr
            td
            td
          tr
            td.two 305 rue de Bellechasse studio 205 
            td.five Studio
          tr
            td.two Montréal [QC] H2S 1W9 
            td.five Mailing List
          tr
            td.two 1+514 271 4937
            td
          tr
            td
            td
          tr
            td.three hruska - at - hruskahruska.co
            td
    .div2
      section.header
        table.table1
          tr
            td.one Hruska
            td.four FN - EN
          tr
            td.ten Studio
            td
          tr
            td
            td
          tr
            td.two 305 rue de Bellechasse studio 205 
            td.five Studio
          tr
            td.two Montréal [QC] H2S 1W9 
            td.five Mailing List
          tr
            td.two 1+514 271 4937
            td
          tr
            td
            td
          tr
            td.three hruska - at - hruskahruska.co
            td
      .div3
        table.table2
          td.work1
            a
              img(src='assets/1.jpg', style='width:257px;height:171px')
          td.work2
            a
              img(src='assets/1.jpg', style='width:257px;height:171px')
          td.work3
            a
              img(src='assets/1.jpg', style='width:257px;height:171px')
          td.work4
            a
              img(src='assets/1.jpg', style='width:257px;height:171px')
          td.work5
            a
              img(src='assets/placeholder.jpg', style='width:257px;height:171px')
          td.work6
            a
              img(src='assets/placeholder.jpg', style='width:257px;height:171px')
          td.work7
            a
              img(src='assets/placeholder.jpg', style='width:257px;height:171px')
          td.work8
            a
              img(src='assets/placeholder.jpg', style='width:257px;height:171px')
          td.work9
            a
              img(src='assets/placeholder.jpg', style='width:257px;height:171px')
          td.work10
            a
              img(src='assets/placeholder.jpg', style='width:257px;height:171px')
          td.work11
            a
              img(src='assets/placeholder.jpg', style='width:257px;height:171px')
          td.work12
            a
              img(src='assets/placeholder.jpg', style='width:257px;height:171px')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='main.js')
